{% extends 'base.html' %}
{% load logparse_tpl_filters %}
{% load i18n %}
{% block "content" %}
	<script type="text/javascript">
          function checkLogProcessingStatus()
          {
            $.ajax({
              url:  '{% url api_log_check_status log.id %}',
              success: function (res)
              {
                if (res == 1)
                {
                  document.location.reload();
                }
                else
                {
                  setTimeout("checkLogProcessingStatus();", 5000);
                }
              }
            });
          }
          {% if not log.processed %}
            checkLogProcessingStatus(); 
          {% endif %}
	</script>
	{% if not log.processed %}
    {% if log.processing %}
  		<div class="alert alert-error">
  			<p>{% blocktrans %}The log is currently being processed, wait until it's finished.{% endblocktrans %}</p>
  			<p>{% blocktrans %}This page will refresh automatically until the log is processed.{% endblocktrans %}</p>
  			<p class="center">
  				<img src="{{ STATIC_URL }}img/loading.gif" />
  			</p>
  		</div>
      <h2>Raid [{{ log.upload_date }}]</h2>
      <table class="table">
        {% regroup log.encounters by boss.raid as by_raid %}
        {% for raid in by_raid %}
          <tr>
            <th>{% trans raid.grouper.name %}</th>
          </tr>
          {% regroup raid.list by boss as en %}
            {% for e in en %}
              {% if e.parsed %}
                <tr><td class="left">{% trans e.grouper.name %} ({{ e.list|length }}) :
                {% for eee in e.list %}
                 <a href="{% url guild_log_encounter_show eee.id %}">
                   <span class="{{ eee.wipe|yesno:"icon-remove,icon-ok" }}"></span> 
                   <span class="{{ eee.wipe|yesno:"error,success" }} {{ eee.wipe|yesno:"bold" }}">
                      {{ eee.stats.duration|secs }}
                    </span>
                  </a>{% if forloop.last %}.{% else %},{% endif %}
                {% endfor %}
                </td></tr>
              {% endif %}
          {% endfor %}
        {% endfor %}
      </table>
    {% else %}
      <div class="alert alert-error">
        <p>{% blocktrans %}This log hasn't been processed yet.{% endblocktrans %}</p>
        <p>{% blocktrans %}The log will be processed as soon as possible.{% endblocktrans %}</p>
        <p class="center">
          <img src="{{ STATIC_URL }}img/loading.gif" />
        </p>
      </div>
    {% endif %}
	{% else %}
    <h2>Raid [{{ log.upload_date }}]</h2>
    <table class="table">
      {% regroup log.encounters by boss.raid as by_raid %}
      {% for raid in by_raid %}
        <tr>
          <th>{% trans raid.grouper.name %}</th>
        </tr>
        {% regroup raid.list by boss as en %}
          {% for e in en %}
            <tr><td class="left">{% trans e.grouper.name %} ({{ e.list|length }}) :
            {% for eee in e.list %}
             <a href="{% url guild_log_encounter_show eee.id %}">
               <span class="{{ eee.wipe|yesno:"icon-remove,icon-ok" }}"></span> 
               <span class="{{ eee.wipe|yesno:"error,success" }} {{ eee.wipe|yesno:"bold" }}">
                  {{ eee.stats.duration|secs }}
                </span>
              </a>{% if forloop.last %}.{% else %},{% endif %}
            {% endfor %}
            </td></tr>
        {% endfor %}
      {% endfor %}
    </table>
    <p class="little">{% blocktrans with start_time=log.start_processing_time end_time=log.end_processing_time %}Processing data : From {{ start_time }} to {{ end_time }}.{% endblocktrans %}</p>
	{% endif %}
{% endblock %}