{% extends 'base.html' %}
{% load logparse_tpl_filters %}
{% load i18n cache humanize %}
{% block "content" %}
	<script type="text/javascript">
          function checkLogProcessingStatus()
          {
            $.ajax({
              url:  '{% url api_log_check_status log.id %}',
              success: function (res)
              {
                if (res == 1)
                {
                  document.location.reload();
                }
                else
                {
                  setTimeout("checkLogProcessingStatus();", 5000);
                }
              }
            });
          }
          {% if not log.processed %}
            checkLogProcessingStatus(); 
          {% endif %}
	</script>
	{% if not log.processed %}
    {% if log.error|length %}
      <div class="alert alert-error">
        {% blocktrans %}
          An error occured while parsing your log file.<br />
          Be sure you uploaded a zip file containing a combatlog.txt file that isn't over 800MB.<br />
          You MUST NOT ever modify the combatlog.txt by yourself.<br />
        {% endblocktrans %}
      <strong>Error :</strong> "{{ log.error }}"
      </div>
    {% else %}
      {% if log.processing %}
    		<div class="alert alert-success">
    			<p>{% blocktrans %}The log is currently being processed, wait until it's finished.{% endblocktrans %}</p>
    			<p>{% blocktrans %}This page will refresh automatically until the log is processed.{% endblocktrans %}</p>
    			<p class="center">
    				<img src="{{ STATIC_URL }}img/loading.gif" />
    			</p>
    		</div>
      {% else %}
        <div class="alert alert-info">
          <p>{% blocktrans %}This log hasn't been processed yet.{% endblocktrans %}</p>
          <p>{% blocktrans %}The log will be processed as soon as possible.{% endblocktrans %}</p>
          <p class="center">
            <img src="{{ STATIC_URL }}img/loading.gif" />
          </p>
        </div>
      {% endif %}
    {% endif %}
	{% else %}
    {#% cache 86400 log log.id %#}
      <h1>{% if log.name|length %}{{ log.name }} by {% endif %}[{{ log.upload_date }}] by <a href="{% url guild_show log.guild.id log.guild.name %}">{{ log.guild.name }}</a></h1>
      <table class="table">
        {% regroup log.encounters by boss.raid as by_raid %}
        {% for raid in by_raid %}
          <tr>
            <th>{% trans raid.grouper.name %}</th>
          </tr>
          {% regroup raid.list by boss as en %}
            {% for e in en %}
              <tr><td class="left">{% trans e.grouper.name %} ({{ e.list|length }}) :
              {% for eee in e.list %}
               <a href="{% url guild_log_encounter_show eee.id %}">
                 <span class="{{ eee.wipe|yesno:"icon-remove,icon-ok" }}"></span> 
                 <span class="{{ eee.wipe|yesno:"error,success bold" }} {{ eee.wipe|yesno:"bold" }}">
                    {{ eee.stats.duration|secs }}
                  </span>
                </a>{% if forloop.last %}.{% else %},{% endif %}
              {% endfor %}
              </td></tr>
          {% endfor %}
        {% endfor %}
      </table>

      <h2>Comments</h2>
      {% for comment in log.comments %}
        <div class="alert">
          <span class="label label-info">by {{ comment.user.username }} {{ comment.time|naturaltime }}</span> {{ comment.comment }}
      </div>
      {% endfor %}
      <form action="{% url comment_post "log" log.id %}" method="post">
        {% csrf_token %}
        <textarea style="width: 300px" rows="3" name="comment"></textarea><br />
        <input type="submit" class="btn btn-primary" value="comment" />
      </form>

      <hr>
      <p class="little">{% blocktrans with start_time=log.start_processing_time end_time=log.end_processing_time %}Processing data : From {{ start_time }} to {{ end_time }}.{% endblocktrans %}</p>
      {% if log.user == user %}
      <a href="{% url log_delete log.id %}" onClick="return confirm('Are you sure you want to delete this log ?')"><span class="btn btn-danger">Delete this log</span></a>
      <hr>
      <form action="{% url log_rename log.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" value="{{ log.name }}">
        <input type="submit" class="btn btn-info" value="rename" />
      </form>
      {% endif %}
    {#% endcache %#}
	{% endif %}
{% endblock %}
