{% extends 'base.html' %}
{% load logparse_tpl_filters %}
{% block "content" %}
	<script type="text/javascript">
          function checkLogProcessingStatus()
          {
            $.ajax({
              url:  '{% url api_log_check_status log.id %}',
              success: function (res)
              {
                if (res == 1)
                {
                  document.location.reload();
                }
                else
                {
                  setTimeout("checkLogProcessingStatus();", 5000);
                }
              }
            });
          }
          {% if not log.processed %}
            checkLogProcessingStatus(); 
          {% endif %}
	</script>
	{% if not log.processed %}
    {% if log.processing %}
  		<div class="alert alert-error">
  			<p>The log is currently being processed, wait until it's finished.</p>
  			<p>This page will refresh automatically until the log is processed.</p>
  			<p class="center">
  				<img src="{{ STATIC_URL }}img/loading.gif" />
  			</p>
  		</div>
    {% else %}
      <div class="alert alert-error">
        <p>This log hasn't been processed yet.</p>
        <p>The log will be processed as soon as possible.</p>
        <p class="center">
          <img src="{{ STATIC_URL }}img/loading.gif" />
        </p>
      </div>
    {% endif %}
	{% else %}
    <h2>Raid [{{ log.upload_date }}]</h2>
    <table class="table">
      {% regroup log.encounters by boss as en %}
        {% for e in en %}
          <tr><th class="left">{{ e.grouper }} ({{ e.list|length }})</th></tr>
          <tr><td>
          {% for eee in e.list %}
           <a href="{% url guild_log_encounter_show eee.id %}">
             <span class="{{ eee.wipe|yesno:"icon-remove,icon-ok" }}"></span> 
             <span class="{{ eee.wipe|yesno:"error,success" }} {{ eee.wipe|yesno:"bold" }}">
                {{ eee.stats.duration|secs }}
              </span>
            </a>{% if forloop.last %}.{% else %},{% endif %}
          {% endfor %}
          </td></tr>
      {% endfor %}
    </table>
	{% endif %}
{% endblock %}