 {% load i18n %}
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Rift HallOfFames</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/tablesorter.css" type="text/css" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-git.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/application.js"></script>
    </head>
    <body data-spy="scroll" data-target=".subnav" data-offset="50">

      <header>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">

            <a class="brand" href="/">Rift HallOfFame</a>
            <div class="nav-collapse">

              <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="{% url boss_list %}">{% trans "Browse" %}</a></li>
                <li><a href="">{% trans "Ranking" %}</a></li>
                <li><a href="">{% trans "Progression" %}</a></li>
              </ul>

                {% if user.is_authenticated %}

                  <ul class="nav">  
                    <li><a>{{ user.username }} from {{ user.get_profile.guild.name }}</a></li>
                  </ul>

                  <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li><a href="{% url guild_home %}">{% trans "Your guild" %}</a></li>
                    <li><a href="{% url logout %}">{% trans "Logout" %}</a></li>
                  </ul>

                  {% if user.is_staff %}

        						<ul class="nav pull-right">
        							<li class="divider-vertical"></li>
        							<li><a href="" class="pull-right">{% trans "Dashboard" %}</a></li>
        							<li><a href="/admin" class="pull-right">{% trans "Admin" %}</a></li>
        						</ul>

                  {% endif %}
                {% else %}

                  <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li><a href="{% url login %}">{% trans "Login" %}</a></li>
                    <li><a href="{% url register %}">{% trans "Register" %}</a></li>
                  </ul>

                {% endif %}

            </div>

          </div>
        </div>
      </div>
    </header>

      <div class="container">
          
          {% if messages %}
            <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
            {% block "content" %}
            {% endblock %}
            <hr>
            <p class="pull-right">&copy;RiftHOF by <a href="mailto:grepsd@gmail.com">Grepsd</a>. 2012.</p>
            <form action="/i18n/setlang/" method="post">
            {% get_current_language as LNG %}
            {% csrf_token %}
              <input name="next" type="hidden" value="{{ redirect_to }}" />
              <select name="language">

                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                  <option value="{{ language.code }}"{% if language.code == LNG %} selected{% endif %}>{{ language.name_local }} ({{ language.code }})</option>
                {% endfor %}
              </select>
              <input type="submit" value="Go" />
            </form>
          
        </div>
    </body>
</html>
