{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% block "content" %}
  	<center><img src="{{ STATIC_URL }}img/header2.png" /></center>
	<h2>{% trans "News" %}</h2>
	{% for new in news %}
		<table class="table">
			<tr>
				<th colspan="2">{{ new.title }}</th>
			</tr>
			<tr>
				<td colspan="2">
					{{ new.body|linebreaks|safe }}
				</td>
			</tr>
			<tr>
				<td>{{ new.comments|length }} comments</td>
				<td>{% blocktrans with author=new.author.username publication_date=new.publication_date|naturaltime %}Posted by {{ author }} {{ publication_date }}{% endblocktrans %}</td>
			</tr>
		</table>
	{% endfor %}
	<h2>{% trans "Upload your logs !" %}</h2>
	{% if user.is_active %}
		<form action="{% url guild_log_upload %}" class="form form-inline" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="control-group">
				<label for="id_log_file" class="label">{% trans "Combat Log File" %} : </label>
				{{ log_form.log_file }}
			</div>

			<div class="control-group">
				<label for="id_private" class="label">{% trans "Is private ?" %} : </label>
				{{ log_form.private }}
			</div>
			<div class="control-group">
				<input type="submit" value="upload" class="btn btn-info" />
			</div>
		</form><p>{% blocktrans %}The file format to upload is : a zip file containing a single file, CombatLog.txt which should never be over 800MB.{% endblocktrans %}</p>
		<table class="table">
			{% for log in guild.logs|dictsortreversed:"upload_date" %}
				<tr>
					<td><a href="{% url guild_log_show log.id %}">{% url guild_log_show log.id %}</a> {{ log.upload_date|naturaltime }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<div class="alert alert-error">
			{% blocktrans %}Create or join a guild if you want to upload your logs.{% endblocktrans %}
			<a href="{% url guild_create %}">{% blocktrans %}Create your guild{% endblocktrans %}</a> / {% blocktrans %}Join a guild{% endblocktrans %}
		</div>
	{% endif %}
	<table class="valid_top width100">
		<tr>
			<td style="width: 50%;">
				<h2>{% blocktrans %}Latest public logs{% endblocktrans %}</h2>
				<ul>
				{% for log in logs %}
					<dl>
						{{ log.guild }} [{{ log.upload_date|naturaltime }}] <a href="{% url guild_log_show log.id %}">View</a>
					</dl>
				{% endfor %}
				</ul>
			</td>
			<td style="width: 50%;">
				<h2>{% blocktrans %}Your guild logs{% endblocktrans %}</h2>
				{% if user.is_authenticated %}
					<ul>
					{% for log in guild_logs %}
						<dl>
							{{ log.guild }} [{{ log.upload_date|naturaltime }}] <a href="{% url guild_log_show log.id %}">{% blocktrans %}View{% endblocktrans %}</a>
						</dl>
					{% endfor %}
					</ul>
				{% else %}
					<div class="alert alert-error">{% blocktrans %}You're not part of any guild.{% endblocktrans %}</a>
				{% endif %}
			</td>
		</tr>
	</table>
{% endblock %}