body {
	padding:				10px;
}

.center {
	text-align:				center;
}

.bg_grey {
	background-color:		#787878;
}

.bold, tr.bold td {
	font-weight:			bold;
}

.success, .success a {
	color:					green;
}

.error, .error a {
	color:					red;
}

table td.align-right {
	text-align:				right;
}

table td.paddingright100 {
	padding-right:			100px;
}

table.table {
	width:					100%;
}
.left {
	text-align:				left;
}

.padding_left_10 {
	padding-left:			10px;
}

table.valid_top td {
	vertical-align:			top;
}

.width100 {
	width:					100%;
}

p.little {
	font-size:				0.8em;
}

.calling_cleric {
	color:					#0A0;
}

.calling_rogue {
	color:					#A70;
}

.calling_mage {
	color:					#A0A;
}

.calling_warrior {
	color:					#A00;
}