{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% block "content" %}
	{% if user.get_profile.has_guild %}
		<h1>{{ user.get_profile.guild.name }}</h1>

		<h3>Combat Log</h3>
			{% if user.is_active %}
				<form action="{% url guild_log_upload %}" class="form form-inline" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="control-group">
						<label for="id_log_file" class="label">Combat Log File : </label>
						{{ log_form.log_file }}
					</div>

					<div class="control-group">
						<label for="id_private" class="label">Is private ? : </label>
						{{ log_form.private }}
					</div>
					<div class="control-group">
						<input type="submit" value="upload" class="btn btn-info" />
					</div>
				</form>
				<table class="table">
					{% for log in guild.logs|dictsortreversed:"upload_date" %}
						<tr>
							<td><a href="{% url guild_log_show log.id %}">{% url guild_log_show log.id %}</a> {{ log.upload_date|naturaltime }}</td>
						</tr>
					{% endfor %}
				</table>
				<p>{% blocktrans %}The file format to upload is : a zip file containing a single file, CombatLog.txt which should never be over 800MB.{% endblocktrans %}</p>
			{% else %}
				<div class="alert alert-error">
					{% blocktrans %}Only validated by admin users can upload logs.{% endblocktrans %}
				</div>
			{% endif %}
		<h3>{% trans 'Members' %}</h3>

		<h4>{% trans 'Quit' %}</h4>
		<a href="{% url guild_quit %}"><span class="btn btn-danger">{% trans 'Quit' %}</span></a>
	{% else %}
		<div class="alert alert-error">
			{% blocktrans %}You're not part of a guild.{% endblocktrans %}
		</div>

		<p class="center">
			{% blocktrans %}Do you want to create your own guild or to join an existing guild ?{% endblocktrans %}
		</p>
		<p class="center">
			<a href="{% url guild_create %}"><span class="btn btn-success">{% trans 'Create' %}</span></a>
			<a href="{% url guild_join %}"><span class="btn btn-success" style="margin-left: 30px;">{% trans 'Join' %}</span></a>
		</p>

	{% endif %}
{% endblock %}