{% extends 'base.html' %}

{% block "content" %}
	<script type="text/javascript">
		function populateGuildSelect(el)
		{
			console.log(el.value);
			$.ajax({
				url: '{% url api_guild_list %}',
				data: {
					shard_id: el.value
				},
				success: function(res) {
					for (gid in res)
					{
						document.forms[0].elements['guild'].options.add(new Option(res[gid], gid));
					}
				}
			});
		}
	</script>
	{% if user.get_profile.has_guild %}
		<div class="alert alert-error">
			Are you sure you want to quit your guild ?
		</div>
		<p class="center">
			<a href="{% url guild_quit_act %}"><span class="btn btn-danger btn-large">Quit</span></a>
		</p>
	{% else %}
	{% endif %}
{% endblock %}